*{
    box-sizing: border-box;
    background-image: url('./7971.jpg')
}
.Title{
    font-family: Georgia, 'Times New Roman', Times, serif; color: antiquewhite;
}
.mainpic {
    border-radius: 50%; border-style: inset;
    border-color: gray;
    align-self: first baseline;
  }
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: antiquewhite;
}
* {
	box-sizing: border-box;
}

.column {
	float: left;
	width: 32.6%;
	padding: 5px;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}
